{%extends 'admin/base.html'%}{%load static%}
{%block extrastyle%}
<link rel="stylesheet" href="{%static 'admin/css/bulma-rtl.css.map'%}">
<link rel="stylesheet" href="{%static 'admin/css/bulma-rtl.min.css'%}">
<link rel="stylesheet" href="{%static 'admin/css/bulma-rtl.css'%}">
<link rel="stylesheet" href="{%static 'admin/css/bulma.css.map'%}">
<link rel="stylesheet" href="{%static 'admin/css/bulma.min.css'%}">
<link rel="stylesheet" href="{%static 'admin/css/bulma.css'%}">

<link rel="stylesheet" href="{%static 'admin/css/admin.css'%}">
{%endblock%}



{%block branding%}
<div class="intro_display">
      <img src="{%static 'img/LOGO2.svg'%}" width="45px" height="45px" alt="" srcset="">
      <h1 class="title" id="admin_tit">Linlkin Agency</h1>
</div>



{%endblock%}